annotated-types==0.6.0
asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
dj-database-url==2.1.0
Django==5.0.3
django-ninja==1.1.0
gunicorn==21.2.0
idna==3.6
packaging==24.0
psycopg2-binary==2.9.9
pydantic==2.6.4
pydantic_core==2.16.3
python-ulid==2.2.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.10.0
ulid-py==1.1.0
urllib3==2.2.1
whitenoise==6.6.0
