{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ImgRankr</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    {% tailwind_css %}
  </head>

  <body class="bg-pink-200 font-serif leading-normal tracking-normal">
    {% block content %}{% endblock %}
  </body>
</html>
